.hero {
    align-items: center;
    display: flex;
}

@include mq-tablet {
    .hero {
        flex-direction: column-reverse;
    }
}

.hero__text > * {
    font-size: 1.25rem;
    line-height: 1.6;
}

// Override :-webkit-any(article, aside, nav, section) h1 { /* ... */ }
// of the user agent stylesheet.
.hero__text > h1 {
    font-size: 2rem;
    margin-block-end: 0.67em;
    margin-block-start: 0.67em;
}

@include mq-tablet {
    .hero__text > :first-child {
        margin-top: 0;
    }
}

.hero__portrait {
    margin: 1.25rem;
}

.hero__portrait > img {
    border-radius: 50%;
}
