.site-footer {
    border-top: 0.0625rem solid $color__grey--dark;
    color: $color__grey--dark;
    font-family: $font__heading;
    font-size: 1rem;
    line-height: 1.6;
}

.site-footer__note {
    margin-bottom: 0;
    margin-top: 1.25rem;
}

.site-footer__list {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

@include mq-phone {
    .site-footer__list {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 1fr 1fr;
    }
}

.site-footer__item {
    display: inline;
    list-style-type: none;
}

@include mq-phone {
    .site-footer__item {
        background-color: $color__grey--light;
        display: initial;
        line-height: 2.4;
    }
}

.site-footer__item--separator:not(:last-of-type)::after {
    content: "-";
}

@include mq-phone{
    .site-footer__item--separator:not(:last-of-type)::after {
        content: initial;
    }
}

.site-footer__link {
    color: $color__grey--dark;
}

@include mq-phone {
    .site-footer__link {
        display: inline-block;
        padding: 0 0.5rem;
        width: 100%;
    }
}
