.no-wrap {
    white-space: nowrap;
}

.obfuscate {
    -webkit-user-select: none;
    direction: rtl;
    unicode-bidi: bidi-override;
    user-select: none;
}

.greyed-out {
    color: $color__grey--dark;
    font-style: italic;
}
