.site-footer {

    color: $color__grey;
    font-family: $font__heading;
    font-size: 16px;
    line-height: 28px;

    &__note {

        margin-bottom: 0;

    }

    &__link {

        color: $color__grey;

    }

}
