.site-navigation {

    background-color: $color__blue--dark;
    color: $color__white;
    font-family: $font__heading;
    font-size: 16px;
    font-weight: bold;
    line-height: 42px;
    padding: 0 8px;

    &__link {

        color: inherit;
        padding: 0 8px;

    }

}
