.site-content > * {
    font-size: 1.25rem;
    line-height: 1.6;
}

.site-content > h1 {
    font-size: 2rem;
}

.site-content > h2 {
    font-size: 1.5rem;
}

.site-content a {
    color: $color__blue--light;
}

.site-content ul {
    list-style-type: "— ";
    padding-left: 1.7rem;
}

@media print {
    .site-content a::after {
        content: " (" attr(href) ")";
    }
}
