.site-navigation {
    background-color: $color__blue--dark;
    color: $color__white;
    font-family: $font__heading;
    font-size: 1rem;
    font-weight: bold;
    line-height: 2.625rem;
    padding: 0 0.5rem;
}

.site-navigation__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

.site-navigation__item {
    list-style-type: none;
}

.site-navigation__item--separator:not(:last-of-type)::after {
    content: "|";
    padding-right: 0.25rem;
}

.site-navigation__link {
    color: inherit;
    padding: 0 0.5rem;
}
