.site-content {

    & > h1 {

        font-size: 32px;
        line-height: 50px;

    }

    & > *:not(h1) {

        font-size: 20px;
        line-height: 33px;

    }

    & a {

        color: $color__blue--light;

    }

    @media print {

        & a::after {

            content: " (" attr(href) ")";

        }

    }

}
