.site-content > h1 {
    font-size: 32px;
    line-height: 50px;
}

.site-content > p {
    font-size: 20px;
    line-height: 33px;
}

.site-content a {
    color: $color__blue;
}

@media print {
    .site-content a::after {
        content: " (" attr(href) ")";
    }
}
