html {
    overflow-y: scroll;
    margin: 0 auto;
    max-width: 720px;
    font-family: $font__text;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
       -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
            text-size-adjust: 100%;
}

a, a:link, a:visited, a:hover, a:focus, a:active  {
    cursor: pointer;
}
