::selection {
    background-color: rgba(
        red($color__blue--dark),
        green($color__blue--dark),
        blue($color__blue--dark),
        0.99
    );
    color: rgba(
        red($color__white),
        green($color__white),
        blue($color__white),
        0.99
    );
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -moz-osx-font-smoothing: grayscale;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    background-color: $color__white;
    color: $color__black;
    font-family: $font__text;
    font-variant-numeric: oldstyle-nums;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font__heading;
}

a,
a:active,
a:focus,
a:hover,
a:link,
a:visited {
    cursor: pointer;
    text-decoration: none;
}

a:focus:not(:focus-visible) {
    outline: none;
}

a:focus-visible {
    outline: 0.125rem solid $color__yellow;
}

a:hover {
    text-decoration: underline;
}
