::selection {

    background-color: rgba(
        red($color__blue--dark),
        green($color__blue--dark),
        blue($color__blue--dark),
        0.99
    );
    color: rgba(
        red($color__white),
        green($color__white),
        blue($color__white),
        0.99
    );

}

*,
*::before,
*::after {

    box-sizing: border-box;

}

html {

    -moz-osx-font-smoothing: grayscale;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    background-color: $color__white;
    color: $color__black;
    font-family: $font__text;
    font-variant-numeric: oldstyle-nums;
    margin: 0 auto;
    max-width: 720px;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;

}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: $font__heading;

}

a {

    &,
    &:active,
    &:focus,
    &:hover,
    &:link,
    &:visited {

        cursor: pointer;
        text-decoration: none;

    }

    &:focus-visible {

        outline: 2px solid $color__yellow;

    }

    &:hover {

        text-decoration: underline;

    }

}
