html {

    -moz-osx-font-smoothing: grayscale;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-family: $font__text;
    margin: 0 auto;
    max-width: 720px;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;

}

a {

    &,
    &:active,
    &:focus,
    &:hover,
    &:link,
    &:visited {

        cursor: pointer;

    }

}
